.backdrop {
  width: 99%; height: 100%;
  position: relative;
  background-size: 100%;
  margin: auto;
}
.text {
  color: black;
  background-color: white;
  mix-blend-mode: screen; 
  width: 100%; height: 100%;
  font-weight: bolder;
  text-align: center;
  line-height: 300px;
  margin: 0;
}
.backdrop,.text {
  border-radius: 2px;
}
.overlay {
  width: 100%; height: 100%;
  position: absolute;
  top: 0;
  mix-blend-mode: multiply;
}
.hello.backdrop {
  background-image: url("http://www.baltagroup.com/media/img/pics/_original/water.jpg?type=crop&w=1740&h=600");
}
.hello.overlay{
  background-color: url("https://s-media-cache-ak0.pinimg.com/originals/fd/6e/73/fd6e735349591e1dcabd6f990c283f85.jpg");
}
.hello.text{
font-size: 165pt;
}
