#maskText h1 {
  font-size: 200px;
  font-family: 'Lilita One', sans-serif;
  color: #ffe400;
  text-shadow: 7px 7px 0px #34495e;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: block;
  -webkit-mask-image: url('../images/texture.png');
  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition:all 2s ease;
  transition:all 2s ease;
}

#maskText h1:hover{
  -webkit-mask-image: url('../images/texture-hover.png');
  cursor: pointer;
  color: #ffe400;
}
