body{
  margin: 0;
  padding: 0;
}
.content {
  margin: 0;
  padding: 0;
  width: 100%;
}
.top {
  background-color: #FFF;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 20vh;
  z-index: 9999;
}
.header {
  margin: 0;
  padding: 0;
  height: 12vh;
  width: 100vw;
}
.menu {
  color: #000;
  margin: 0 6%;
  padding: 0 0 0px 0;
  height: 8vh;
  width: 88vw;
  text-align: center;
  vertical-align: middle;
}
.outlogo {
  padding: 0;
  margin: 0;
  height: 12vh;
  width: 100vw;
  text-align: center;
  float: left;
}
#logo {
  padding: 0;
  height: 12vh;
}
#login {
  margin: 0 0 0 -19vh;
  padding: 3vh 0;
  height: 6vh;
  width: 8vh;
  float: left;
}
.video {
  margin: 20.5vh 2vw 0 6vw;
  padding: 0;
  height: 80vh;
  width: 88vw;
  text-align: center;
}
.marquee {
  margin: 0 6vw;
  padding:  0;
  height: 23vw;
  width: 88vw;
  background-color: rgba(180, 180, 180, 1);
}
.term {
  margin: 0 2vw; 
  padding: 0;
  height: 23vw; 
  width: 84vw;
  background-color: #FFF;
}
.line {
  padding: 1.5vw 10vw;
  width: 0;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: rgb(200, 200, 200);
}
.pics {
  margin: 0;
  padding: 0;
  height: 23vw;
  width: 44vw;
  float: left;
}
.martext {
  margin: 0;
  padding: 0;
  width: 40vw;
  height: 23vw;
  float: left;
}
.pics img {
  margin: 0;
  padding: 0;
  height: 23vw;
  width: 44vw;
}
.martext p {
  font-size: 1vw;
  width: 40vw;
  margin: 0;
  padding: 2.5vw 0;
  text-align: center;
}
.martext h4 {
  font-size: 1.8vw;
  width: 40vw;
  margin: 0;
  padding: 0vw 0;
  text-align: center;
}
.activity {
  margin: 10vh 6vw 5vh 6vw;
  padding: 0;
  height: 30vh;
  width: 88vw;
  background-color: #FFF;
  text-align: center;
}
.activity p{
  font-size: 1vw;
  margin: 0;
  padding: 1vw 0;
}
.activity h4{
  font-size: 2vw;
  margin: 0;
  padding: 0.7vw 0 1.7vw 0;
}
.activity h5{
  font-size: 1.5vw;
  width: 6vw;
  margin: 0 41vw;
  padding: 1.5vw 0;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 2px 0 0 0;
}
.service {
  margin: 0 6vw;
  padding:0 ;
  height: 90vh;
  width: 88vw;
  background: #FFF;
}
.serleft {
  margin: 0 1vw 0 0;
  padding: 0;
  height: 90vh;
  width: 51vw;
  float: left;
}
#ser1 {
  margin: 0 0 2vh 0;
  padding: 0;
  height: 41vh;
  width: 51vw;
}
#ser2 {
  margin: 0;
  padding: 0 0 1vh 0;
  height: 41vh;
  width: 51vw
}
#ser3 {
  margin: 0;
  padding: 0;
  height: 0;
  width: 51vw;
  border-style: solid;
  border-width: 5vh 0 0 5vh;
  border-color: transparent transparent transparent #ff8c00;
}
.serright {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 36vw;
  float: left;
}
#ser4 {
  width: 33vw;
  height: 0;
  border-style: solid;
  border-width: 0 5vh 5vh 0;
  border-color: transparent #ff8c00 transparent transparent;
}
#ser5 {
  margin: 0 0 2vh 0;
  padding: 4vh 0 0 0;
  height: 11vh;
  width: 36vw;
  text-align: center;
}
#ser5 h4 {
  font-size: 2vw;
  margin: 0;
}
#ser6 {
  margin: 0 0 2vh 0;
  padding: 0;
  height: 28vh;
  width: 36vw;
}
#ser7 {
  margin: 0;
  padding: 0;
  height: 38vh;
  width: 36vw
}
#ser1 img, #ser2 img, #ser6 img, #ser7 img {
  height: 100%;
  width: 100%;
}
.location {
  margin: 7vh 6vw 0 6vw;
  padding: 0;
  height: 60vh;
  width: 88vw;
  background-color: #FFF; 
  text-align: center;
  z-index: 50;
}
.location img {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 86%;
  text-align: center;
}
/*
.location iframe {
  padding: 0;
  height: 69vh;
  width: 87vw;
}
*/
.mapbot {
  margin: -3vh 6vw 0 6vw;
  padding: 0;
  width: 88vw;
  height: 5vh;
  z-index: 51;
  position: relative;
}
.hi {
  margin: 0;
  padding: 0;
  width: 1vw;
  height: 0vh;
  border-style: solid;
  border-width: 5vh 0 0 5vh;
  border-color: transparent transparent transparent #ff8c00;
  float: left;
}
.select {
  margin: 0;
  padding: 0;
  height: 5vh;
  width: 81vw;
  float: left;
}
.select h5 {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
  text-align: right;
  position: relative;
}
.search{
  margin: 2vh 6vw 5vh 6vw;
  padding: 0;
  width: 88vw;
  height: 4vw;
  text-align: center;
}
#searchbox {
  margin: 0 0 0 29vw;
  padding: 0.8vw 4vw 0.8vw 2vw;
  font-size: 2vw;
  width: 30vw;
  height: 2vw;
  background: #FFF ;
  border-radius: 40vw;
  border-style: solid;
  border-color: #AAA;
  border-width: 0.2vw;
  float: left;
  outline: none;
}
.search img {
  position: relative;
  margin: 0.5vw 0 0 -4vw;
  padding: 0;
  height: 3vw;
  width: 3vw;
  float: left;
}
.bottom {
  margin: 3vh 2vw 2% 2vw;
  padding: 0;
  height: 30vw;
  width: 96vw;
  background-color: rgba(80, 80, 80, 1);
}
.country {
  color: #FFF;
  margin: 0 5vw;
  padding: 0;
  float: left;
  text-align: center;
  width: 15vw;
  height: 25vw;
}
.contact {
  color: #FFF;
  margin: 0 5vw;
  padding: 0;
  float: left;
  text-align: center;
  width: 15vw;
  height: 25vw;
}
.icon {
  margin: 0;
  padding: 0;
  float: left;
  height: 25vw;
  width: 42vw;
  text-align: right;
}
.foot {
  margin: 0;
  padding: 0;
  height: 5vw;
  width: 96vw;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  height: 7.7vh;
  border-style: solid;
  border-width: 2px 0px;
  border-color: rgb(200, 200, 200);
}
.menu li {
  text-transform: uppercase;
  color: #000;
  font-size: 1.5vw;
  list-style-type: none;
  width: 16%;
  margin: 0;
  padding: 2.2vh 0;
  display: inline-block;
  text-align: center;
}
.menu li:hover {
  background-color: rgb(233, 230, 227);
}
.country ul,.contact ul{
  padding: 0;
}
.country li,.contact li{
  list-style-type: none;
  font-size: 1.2vw;
  padding: 0.6vw 0;
}
.country h2, .contact h2 {
  font-size: 2vw;
}
.icon img {
  background-color: #FFF;
  border-radius: 100vw;
  margin: 21.6vw 0.5vw 0 0.5vw;
  padding: 0.7vw;
  height: 2vw;
  width: 2vw;
}
h3 {
  font-size: 1.2vw;
  color: #FFF;
  margin: 0;
  padding: 1.9vw 0;
}
.video iframe {
  padding: 3vh 0;
  height: 74vh;
  width: 88%;
}
